.chart {
  display: flex;
  flex-flow: row wrap;

  background-color: var(--color-bg-brand);

  &_space {
    padding: 20px;
  }
  &__menu {
    &-action {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .chart__menu {
    order: -1
  }
}

.canvas {
  //border: 1px solid #dbdbdb;
}
