.characters__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 800px;
  margin: 0 0 0 -10px;
}

.characters__item {
  width: 250px;
  margin: 10px 0 0 10px;
  display: flex;
  flex-flow: column;

  &-description {
    display: flex;
    flex-flow: column;
    padding: 10px;
    font-size: 13px;
    border: 1px solid var(--color-bg-border);
  }

  &-title {
    padding: 10px;
    border: 1px solid var(--color-bg-border);
    font-weight: 600;
  }

  &-avatar {
    height: 330px;
    //background-image: attr(data-image url);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
  }
}

.description {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  &-name {
    min-width: 100px;
    display: inline-block;
    font-weight: 600;
  }
}


@media screen and (max-width: 500px) {
  .characters__item {
    max-width: inherit;
  }
}
